@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

header.container {
    min-height: 80px;
    box-shadow: 0 0 15px -9px #000;
    position: relative;
}

.logo {
    width: 35px;
    flex: 1 0 0;
}
/*.page-wrapper {*/
/*    padding: 0 180px;*/
/*}*/
.row {
    padding: unset;
}
main.container {
    background-color: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 680px;
    /*border-bottom: #e3e3e3 solid 2px;*/
    /*border-top: #f1f1f2 solid 2px;*/
    flex: 1 0 0;
}

.column.hero-box {
    background-color: #979797;
    border-radius: 5px;
    flex: 1 0 0;
    box-shadow: 0 0 15px -9px #000;
}

.row.hero-scene {
    padding: 65px 0;
    flex: 1 0 0;
    gap: 95px;
    color: #6b6b6b;
    line-height: 1.2;
}

.img-placeholder {
    width: 25px;
    height: 25px;
}


.row.icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: #c1cad2 solid 1px;
}

.feature-card {
    padding-bottom: 3vh;
}

.container {
    padding: 0 20%;
    font-family: 'Roboto-Thin-100', sans-serif;
    color: #929293;
}

button {
    background-color: #979797;
    color: #f2f2f2;
    border-radius: 5px;
    border: unset;
    padding: 8px 20px;
    font-size: 11px;
}

.column.button {
    color: #f2f2f2;
}

.row.nav {
    font-size: 12px;
    gap: 20px;
}

.small-hero-text{
    font-size: 10px;
    font-weight: bold;
    color: #929293;
}

.header {
    font-size: 45px;
    font-weight: unset;
}

.row.feature-header {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #6d6d6d;
}

h3.feature-header {
    padding-top: 40px;
    padding-bottom: 20px;
}