@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

.photos-wrapper {
    display: flex;
    width:100%;
    column-gap: 20px;
    perspective: 91px;
    perspective-origin: center;
    margin-bottom: 20px;
}

.centered-section {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.photos-wrapper .photo-wrapper {
    flex: 1 0 0;
    overflow: hidden;
    aspect-ratio: 4/3;

}

.fancy-header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: green;
    text-decoration: underline;
    font-family: Roboto, serif;
}

body {
    color: azure;
    background: #fff4c8 url("../images/wallpaper-coin-stack.png") center center/ cover no-repeat fixed;
    font-family: "Playfair Display", serif;
}

ol {
    list-style: upper-roman;
}

ul {
    list-style: url("../images/money.png" );
}

.list-header{
    text-align: center;
}

.lists-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}
