:root {
	--primary-color: rgba(255,255,255,1.00);
	--border: rgb(239, 243, 244);
	--twitter-blue: #1C9BEF;
}

.container{
	align-items: unset;
}
.left-sidebar {
	flex: 0 1 auto;
}
.right-sidebar {
	width: 350px;
	height: 100%;
	padding-top: 12px;
	padding-bottom: 64px;
}
.left-navbar {
	flex-direction: column;
	gap: unset;
	word-wrap: break-word;
}
.column.flex-row {
	flex-direction: row;
}
.container {
	background-color: var(--primary-color);
}

main.row {
	max-width: 600px;
	z-index: 1;
	box-shadow: 0 -14px 15px -9px #000;
	height: 100%;
	flex: 1 0 auto;
}

svg.nav {
	width: 1.75rem;
	color: var(--twitter-blue);
	margin: 16px 0;

}

.name-h1 {
	font-size: 20px;
}

.headliner {
	line-height: .5;
}

.light-grey {
	color: rgb(83, 100, 113);
}
svg.logo {
	width: 1.8rem;
}

.img-arrow {
	width: 20px;
}
.avatar-small {
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	min-width: 100%;
	border-radius: 99999px;
}
.avatar-wrapper {
	width: 40px;
	height: 40px;
}

button.tweet {
	border: unset;
	border-radius: 9999px;
	background-color: var(--twitter-blue);
	color: var(--primary-color);
	width: 90%;
	font-size: 17px;
	min-height: 52px;
}
.spacer {
	min-width: 36px;
	min-height: 36px;
	flex: 1 0 auto;
}

h2 {
	min-width: 0px;
	margin-left: 20px;
	margin-right: 16px;
}

.flex-unset {
	flex: unset;
}
input {
	text-align: left;
	padding: 12px;
	border: unset;
	word-wrap: break-word;
	flex: 1 0 auto;
}
.input-wrapper {
	min-height: 32px;
	height: 53px;
	width: 350px;
	gap: unset;
	padding: unset;
}
.search {
	width: unset;
}